  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a></span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>Powered by <a href="http://startbootstrap.com/templates/agency/">"Agency" Bootstrap Theme</a></li>
                        <li>Inspired by <a href="http://www.milanotechscene.it/">Milano Tech Scene</a></li>
                        <li>Foto di copertina di <a href="https://www.flickr.com/photos/phalaenopsisaphrodite523/8257967539/">Francesca Cappa</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
