<!-- Groups Grid Section -->
    <section id="groups" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Gruppi</h2>
                    <h3 class="section-subheading text-muted">Associazioni, gruppi informali, collettivi e agglomerati che animano l'ambiente torinese.</h3>
                </div>
            </div>
            <div class="row">
            {% assign shuffled_groups = site.data.groups | shuffle %}
            {% for group in shuffled_groups %}
                {% assign last_event = site.posts reversed | where:'host', group.title | first %}
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a class="portfolio-link" href="{{ group.url }}">
                          <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                              <h5>{{group.title}}</h5>
                              {% if last_event %}
                              <p>{{ last_event.date | date: '%d/%m/%y' }} &mdash; {{ last_event.title }}</p>
                              {% endif %}
                            </div>
                          </div>
                        <img src="img/groups/{{ group.img }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                      <h4>{{group.title}}</h4>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
