.timeline-heading {
        margin-bottom: 20px;
}

.timeline-heading p {
        font-size: 2em;
        font-weight: bold;
        line-height: 1em;
}

.timeline-heading .date {
        font-size: 1em;
        color: #fec503;
}

.timeline-heading .host {
        font-size: 1em;
        color: #fec503;
}

.timeline>li .timeline-image {
        border-radius: 0;
        background-color: #f7f7f7;
}

.timeline>li .timeline-image h3 {
        position: relative;
        left: 0;
        top: 0;
        margin: 0;
        padding: 10px 0;
        color: #fff;
        font-size: 1.5em;
        background-color: #BC0000;
}

.timeline>li .timeline-image h4 {
        color: #000;
        font-size: 4em;
}

@media (max-width: 800px) {
        .timeline>li .timeline-image {
                display: none;
        }
}

.portfolio-item {
        margin-bottom: 50px;
}

.portfolio-item .portfolio-caption {
        max-width: 400px;
        margin: 0 auto;
        background-color: white;
        text-align: center;
        padding: 25px;
        height: 100px;
}

.empty-events {
        text-align: center;
}

.empty-events .emoticon {
        font-size: 10em;
}

.empty-events p {
        font-size: 4em;
}

#faq a {
        color: #888;
}
